<h1>Collections</h1>

<%= form_tag("set_reconciliation", method: "post") do %>
<%= label_tag :reconciler_name, "Reconciler Name" %>
<%= text_field_tag :reconciler_name, session[:reconciler_name] %>
<%= label_tag :reconciliation_threshhold, "Reconciliation Threshhold" %>
<%= number_field_tag :reconciliation_threshhold, session[:reconciliation_threshhold] %>
<%= submit_tag("Save") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Collection</th>
      <th>Subjects</th>
      <th>Transcribed</th>
      <th>Reconciled</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.collection_name %></td>
        <td><%= collection.subjects.count %></td>
        <td><%= collection.transcribed_records.count %></td>
        <td><%= collection.reconciled_records.count %></td>
        <td><%= link_to 'Reconcile', collection %></td>
      </tr>
    <% end %>
  </tbody>
</table>

