<h1>Listing filenames</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @filenames.each do |filename| %>
      <tr>
        <td><%= filename.filename %></td>
        <td><%= link_to 'Show', filename %></td>
        <td><%= link_to 'Edit', edit_filename_path(filename) %></td>
        <td><%= link_to 'Destroy', filename, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filename', new_filename_path %>
