<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @transcribed_record.collection %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @transcribed_record.subject_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @transcribed_record.user %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @transcribed_record.filename %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @transcribed_record.created_at %>
</p>

<p>
  <strong>Source:</strong>
  <%= @transcribed_record.source_id %>
</p>

<p>
  <strong>Collector:</strong>
  <%= @transcribed_record.collector %>
</p>

<p>
  <strong>Collector number:</strong>
  <%= @transcribed_record.collector_number %>
</p>

<p>
  <strong>Collection date:</strong>
  <%= @transcribed_record.collection_date %>
</p>

<p>
  <strong>Collection date end:</strong>
  <%= @transcribed_record.collection_date_end %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @transcribed_record.scientific_name %>
</p>

<p>
  <strong>Host:</strong>
  <%= @transcribed_record.host %>
</p>

<p>
  <strong>Habitat:</strong>
  <%= @transcribed_record.habitat %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @transcribed_record.notes %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @transcribed_record.elevation %>
</p>

<p>
  <strong>Lat lon:</strong>
  <%= @transcribed_record.lat_lon %>
</p>

<p>
  <strong>Location:</strong>
  <%= @transcribed_record.location %>
</p>

<p>
  <strong>County:</strong>
  <%= @transcribed_record.county %>
</p>

<p>
  <strong>State province:</strong>
  <%= @transcribed_record.state_province %>
</p>

<p>
  <strong>Country:</strong>
  <%= @transcribed_record.country %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @transcribed_record.registration_number %>
</p>

<p>
  <strong>Page number:</strong>
  <%= @transcribed_record.page_number %>
</p>

<%= link_to 'Edit', edit_transcribed_record_path(@transcribed_record) %> |
<%= link_to 'Back', transcribed_records_path %>
