<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @subject.collection.collection_name %>
  <br />
  <strong>Subject:</strong>
  <%= @subject.subject_id %>
  <br />
  <strong>Filename:</strong>
  <%= @subject.filename %>
  <br />
  <strong>Image URL:</strong>
  <%= @subject.collection.image_url(@subject) %>
</p>

<%= image_tag(@subject.collection.image_url(@subject), { width: "80%"}) %>

<table border="1px">
  <thead>
    <tr>
      <th>Field</th>
      <% @records.each_with_index do |record, i| %>
      	<th>
      		<%= record.user.user_name %>
  		</th>
      <% end %>
	</tr>
  </thead>
  <tbody>
  	<% @records.first.display_attributes.keys.each do |field| %>
      <% if @records.detect { |r| !r[field].blank? } %>
		<tr>
			<td>
				<strong><%= field.titleize %></strong>
			</td>
		  	<% @records.each_with_index do |record, i| %>
				<td>
					<%= record[field] %>
				</td>
			<% end %>			
		</tr>			
	  <% end %>
  	
  	<% end %>
  	
  </tbody>
  
</table>

<%= link_to 'Back', subjects_path %>
