<!DOCTYPE html>
<html>
<head>
  <title>ReconciliationUI</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h4>
	<%= link_to "iDigBio Citizen Science Reconciliation UI", root_path %>
</h4>
<%= yield %>

</body>
</html>
